.protection-table-container {
    width: 75%; /* Ensure the right container takes up 75% of the width */
    border: 3px solid #2e3f58; /* Dark blue border around all elements */
    padding: 0;
    margin: 10px;
    height: 270px; /* Fixed height */
    box-sizing: border-box; /* Include padding and border in height calculation */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
  }
  
  .header-container h1 {
    flex: 1;
    text-align: center;
    margin: 0; /* Remove margins */
    background-color: #2e3f58; /* Dark blue background */
    color: white; /* White text color */
    padding: 10px; /* Padding for better appearance */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 12px; /* Smaller text size */
    cursor: pointer; /* Cursor changes to pointer */
  }
  
  /* Add hover effect */
  .header-container h1:hover {
    background-color: #4b5a7c; /* Slightly lighter blue background on hover */
    color: white; /* Change text color on hover if needed */
  }
  
  .header-container h1.active {
    border-top: 2px solid white; /* White border on top when active */
    border-left: 2px solid white; /* White border on the left when active */
    border-right: 2px solid white; /* White border on the right when active */
    border-top-left-radius: 10px; /* Curve the top left corner */
    border-top-right-radius: 10px; /* Curve the top right corner */
    background-color: #4b5a7c; /* Slightly lighter background color when active */
  }

  .protection-table-wrapper {
    flex: 1; /* Allow the wrapper to grow and take up available space */
    overflow-y: auto; /* Enable vertical scrolling */
  }